---
import HeaderButtons from "../buttons/HeaderButtons.astro";
---

<div class="flex justify-between px-6 py-4 font-semibold">
  <a class="text-xl cursor-pointer" href="/blogs/1">Max Chang</a>
  <HeaderButtons link="/">Portfolio</HeaderButtons>
</div>
