---
import BlogSelectionLayout from "@/layouts/BlogSelectionLayout.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blogs");
---

<BlogSelectionLayout>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-2/4">
      <h1 class="text-4xl font-semibold">Posts</h1>
      <ul>
        {
          blogEntries.map((blogPostEntry) => (
            <li>
              <a href={`/blogs/${blogPostEntry.slug}`}>
                {blogPostEntry.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</BlogSelectionLayout>
