---
import PostsSelectionCard from "@/components/portfolio/components/card/PostsSelectionCard.astro";
import BlogSelectionLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
const blogEntries = await getCollection("blogs");
---

<BlogSelectionLayout>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-2/4">
      <h1 class="text-4xl font-semibold">Posts</h1>
      <ul class="mt-4">
        {
          blogEntries.map((blogPostEntry) => (
            <PostsSelectionCard slug={blogPostEntry.slug}>
              <slot slot="title">{blogPostEntry.data.title}</slot>
              <slot slot="date">{blogPostEntry.data.date}</slot>
              <slot slot="description">{blogPostEntry.data.description}</slot>
            </PostsSelectionCard>
          ))
        }
      </ul>
    </div>
  </div>
</BlogSelectionLayout>
