---
import PortfolioHeaders from "../components/headers/PortfolioHeaders";
import Portfolio from "../components/portfolio/Portfolio";
---

<html class="bg-main-color">
  <head>
    <PortfolioHeaders />
  </head>
  <body>
    <Portfolio client:load />
  </body>
</html>
