::-webkit-scrollbar {
    width: 4px; /* Change the width here */
    height: 4px; /* Change the height here */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Color when hovering over the scrollbar thumb */
    border-radius: 4px; /* Rounding the scrollbar thumb corners */
}