---
const { frontmatter } = Astro.props;
---

<div class="w-full flex justify-center">
  <div class="w-4/6">
    <h1 class="title">{frontmatter.title}</h1>
    <h2>{frontmatter.date}</h2>
    <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700" />
    <p>{frontmatter.description}</p>
    <slot />
  </div>
</div>
<style>
  .title {
    font-size: 30px;
    font-weight: 600;
    color: #f5ccd4;
  }
</style>
