---
import BlogHeaders from "@/components/headers/BlogHeaders.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <BlogHeaders />
  </head>
  <body>
    <slot />
  </body>
</html>
<style>
  html {
    background-color: #1e1e1e;
    color: #fff;
  }
</style>
