---
import PortfolioHeaders from "../components/headers/PortfolioHeaders";
---

<html>
  <head>
    <PortfolioHeaders />
  </head>
  <body class="bg-main-color">
    <div>
      <slot />
    </div>
  </body>
</html>
