---
import PortfolioHeaders from "../components/headers/PortfolioHeaders";
import PortfolioBody from "./PortfolioBody";
---

<html>
  <head>
    <PortfolioHeaders />
  </head>
  <body class="bg-main-color">
    <PortfolioBody client:load>
      <slot />
    </PortfolioBody>
    <style scoped>
      body {
        min-height: 100vh;
        max-height: 100vh;
      }
    </style>
  </body>
</html>
